<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143456026416-vu4q8mkjrefd11uf12vbtfgi6r9uc788.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143456026416-vu4q8mkjrefd11uf12vbtfgi6r9uc788</string>
	<key>API_KEY</key>
	<string>AIzaSyC86-Mz__0iskTzzRsU2fpAKNIb26ibktA</string>
	<key>GCM_SENDER_ID</key>
	<string>143456026416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CRYPTO.D-CRYPTO</string>
	<key>PROJECT_ID</key>
	<string>proud-skein-267213</string>
	<key>STORAGE_BUCKET</key>
	<string>proud-skein-267213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143456026416:ios:cca358d9ecdf162e0952f5</string>
	<key>DATABASE_URL</key>
	<string>https://proud-skein-267213.firebaseio.com</string>
</dict>
</plist>